---
import { siteConfig } from "../content/home";
import ThemeIcon from "./ThemeIcon.astro";

const pathname = Astro.url.pathname;

const isActive = (href: string) => {
  if (href === "/") {
    return pathname === "/";
  }
  return pathname.startsWith(href);
};

---



<nav class="fixed top-0 w-full h-16 z-50 bg-surface/70 backdrop-blur-xl bg-linear-to-b from-surface-variant/20 to-transparent">
  <div class="flex justify-between items-center px-8 h-full max-w-7xl mx-auto">
    <div class="text-2xl font-headline font-bold text-on-surface tracking-tight">
      {siteConfig.navTitle}
    </div>
    <div class="hidden md:flex items-center gap-8">
      {siteConfig.navLinks.map((link) => (
        <a
          class={`text-on-surface-variant hover:text-on-surface transition-colors duration-300 font-headline font-bold tracking-tight ${isActive(link.href) ? 'text-primary border-b-2 border-primary/30 pb-1' : ''}`}
          href={link.href}
        >
          {link.text}
        </a>
      ))}
    </div>
    <div class="flex items-center gap-4">
      <ThemeIcon />
    </div>
  </div>
</nav>